body {
  margin: 0;
  font-family: $fontFamily;
}

main {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-content: center;

  @media (max-width: 1117px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
  }
}

.card-container,
form {
  z-index: 2;
}

button {
  padding: 17px;
  border-radius: 7px;
  color: $white;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: clamp(15px, 2.5vw, 16px);
  background-color: $veryDarkViolet;
  border: none;
  transition: background-color 0.3s;

  &:hover {
    cursor: pointer;
    background-color: $lightViolet;
    transition: background-color 0.3s;
  }
}
