body {
  margin: 0;
  font-family: $font-family;
}

main {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-content: center;

  @media (max-width: 1117px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
  }
}

.card-container,
form {
  z-index: 2;
}

// cards
.card-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-top: 80px;

  @media (min-width: 1118px) {
    flex-direction: column;
    gap: 30px;
    margin-top: 0;
  }

  img:nth-child(1) {
    transform: translate(-30px, -54px);
    z-index: 3;

    @media (min-width: 1118px) {
      transform: translateX(-50px);
    }
  }

  img:nth-child(2) {
    transform: translateX(30px);

    @media (min-width: 1118px) {
      transform: translateX(50px);
    }
  }

  img {
    width: 250px;

    @media (min-width: 575px) {
      width: 350px;
    }

    @media (min-width: 1118px) {
      width: 450px;
    }

    @media (min-width: 2000px) {
      width: 600px;
    }
  }
}
// form
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 440px;
  font-size: $font-size;
  font-weight: 700;
  color: $veryDarkViolet;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 0px auto;

  @media (min-width: 1118px) {
    margin: 0;
  }

  & > * {
    margin: 16px 0px;
  }

  label {
    display: flex;
    flex-direction: column;
  }

  input {
    padding: 15px 10px;
    border-radius: 7px;
    border: 1px solid $lightGrayishViolet;
    margin-top: 8px;
  }

  .expiration-date-cvc {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    & > * {
      flex-basis: 50%;
    }

    & div {
      display: flex;
      gap: 10px;

      & input {
        width: 50%;
      }
    }
  }

  button {
    padding: 17px;
    border-radius: 7px;
    color: $white;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: clamp(10px, 2.5vw, 16px);
    background-color: $veryDarkViolet;
    border: none;
    transition: background-color 0.3s;

    &:hover {
      cursor: pointer;
      background-color: $button-hover;
      transition: background-color 0.3s;
    }
  }
}
